<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {% seo %}
    <link href="https://fonts.googleapis.com/css?family=Mansalva" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    {% assign posts = site.posts | where: "project", page.project | sort: "date" %}
    
    {% assign curr_index = -1 %}
    {% for post in posts %}
      {% if post.id == page.id %}
        {% assign curr_index = forloop.index0 %}
        {% break %}
      {% endif %}
    {% endfor %}

    {% assign prev_index = curr_index %}
    {% if curr_index > 0 %}
      {% assign prev_index = curr_index | minus: 1 %}
    {% endif %}

    {% assign next_index = curr_index %}
    {% assign last_index = posts.size | minus: 1 %}
    {% if curr_index < last_index %}
      {% assign next_index = curr_index | plus: 1 %}
    {% endif %}
    
    <div id="comicpage" class="flex full-screen fixed-tl-nopad padding-1 padding-3-mobile gap-3 z-2 bg-transparent">
      <a href="{{ site.url }}"><h3 class="max-height-52 center-y-self right-text px-2 pointer">close</h3></a>
      <img id="comicpage-img" class="contain-y comicpage-img center-self radius-2" src="{{ page.img | relative_url }}">
      <div class="max-height-52 bg-m radius-1 shadow-l grid cols-5 px-2 txt-light-children">
        <a class="flex" href="{{ posts[0].url | absolute_url }}">
          <svg class="contain-svg padding-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160zm352-160l-160 160c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L269.3 256 406.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0z" />
          </svg>
        </a>
        <a class="flex" href="{{ posts[prev_index].url | absolute_path }}">
          <svg class="contain-svg padding-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
            <path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z" />
          </svg>
        </a>
        <div class="grid cols-2 py-3">
          <input class="bg-l shadow-inv-s width-100 center-text" type="number" name="current-page" placeholder="1" value="{{ curr_index | plus: 1 | to_integer }}" onchange="change_page(this.value)">
          <p class="center-self">of {{ posts.size }}</p>
        </div>
        <a class="flex" href="{{ posts[next_index].url | absolute_path }}">
          <svg class="contain-svg padding-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
            <path d="M247.1 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L179.2 256 41.9 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z" />
          </svg>
        </a>
        <a class="flex" href="{{ posts[-1].url | absolute_url }}">
          <svg class="contain-svg padding-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path d="M439.1 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L371.2 256 233.9 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160zm-352 160l160-160c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L179.2 256 41.9 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0z" />
          </svg>
        </a>
      </div>
    </div>
    
    <p class="center-text my-1 sticky-bottom">Copyright &copy; 2026 Trooper Transfer</p>
  
    <script>
      {% include index.js %}
    </script>
  </body>
</html>
